# Supabase Configuration
SUPABASE_URL=your_supabase_url
SUPABASE_ANON_KEY=your_supabase_anon_key

# Mappls SDK Configuration
MAP_SDK_KEY=your_mappls_sdk_key
REST_API_KEY=your_mappls_rest_api_key
ATLAS_CLIENT_ID=your_atlass_client_id
ATLAS_CLIENT_SECRET=your_atlass_client_secret

# Google Authentication
GOOGLE_WEB_CLIENT_ID=your_google_web_client_id
